VITE_SUPABASE_URL=https://iiuittusmilrodxchdae.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpdWl0dHVzbWlscm9keGNoZGFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc3NjAyNTksImV4cCI6MjA3MzMzNjI1OX0.2-t1Ki_MhOHtUSuffLLx7tiPqUR67ivZMLrXjuUeYAk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlpdWl0dHVzbWlscm9keGNoZGFlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Nzc2MDI1OSwiZXhwIjoyMDczMzM2MjU5fQ.paxU5G5o2UK3Uc8elMf_3PBRagy2ka-vyXqOhjn4MSA
